
  * {
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #004353;
    font-size: 15px ;
    font-weight: 600;
  }
  
  
  h1 {
    text-align: center;
    margin: 0;
    font-size: 30px;
  }
  h2 {
    text-align: center;
    margin: 5px;
    font-size: 26px;

  }
  
  h3 {
    font-size: 22px;
    margin-top: 2px;
  }
  
  h4 {
    font-size: 18px;
  }
  header, main {
    background: #2decec;
    max-width: 40rem;
    margin: auto;
    border: 2px solid #004353;
  }
  
  main {
    border: 2px solid #004353 ;
  }
  
  .filter-bookmarks {
    margin: 0px;
    position: relative;
    border: 1px solid  #004353;
  }
  

  #filter-select {
    padding: .25rem;
    margin: 3px;
    background: #e0e0e0;
    border: 0;
    display: block;
    border: 1px solid;
    line-height: 1.5rem;
  }
  
  #add-new-bookmark-btn {
    margin-left: 3px;
    margin-bottom: 0px;
  }
  
  
  .new-bookmark {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    margin: 0 .5rem;
    line-height: 1.5rem;
    max-width: 20rem;
  }
  
  .bookmark-list {
    margin-top: 25px;
    padding: 10;
    display: flex;
    flex-direction: column;
    background: #2decec;
    
  }
  
  .bookmark-delete, .bookmark-name, .bookmark-rating,
   .bookmark-desc, .bookmark-link, .collapse-bookmark {
    border: none;
    margin: 0;
    padding: .1875rem;
    line-height: 1.5rem;
    background-color: unset;
  }
  
  .bookmark-item {
    list-style: none;
    display: flex;
    flex-direction: column;
    border-top: 2px solid #016669 ;
  }
  .bookmark-line {
    margin: 0 0 .1875rem 0;
    display: flex;
  }
  
  .bookmark-delete {
    padding-left: .3125rem;
  }
  
  .bookmark-name {
    flex: 1;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .bookmark-rating {
    padding: .1875rem .25rem;
    font-size: .8rem;
  }
  
  .expanded .bookmark-name {
    flex: unset;
    text-align: center;
    white-space: unset;
    margin-bottom: 1rem;
  }
  
  .expanded .bookmark-line {
    flex-direction: row;
    justify-content: space-around;
    align-content: baseline;
    margin: 0 .1875rem;
    align-items: flex-start;
  }
  
  
  .bookmark-description {
    padding: 0 1.5rem;
    margin: 0 .1875rem .1875rem;
  }
  
  .bookmark-link, .collapse-bookmark {
    margin: .5rem;
    flex: 1;
  }
  
  .collapse-bookmark {
    margin-left: 1.5rem;
  }
  
  #submit-new-form {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    margin: 5px;
    padding: 3px;
    background: #95fafa;
    border: 2px solid #016669;
  }
  
  #new-bookmark-form p {
    margin: 5px;
    border: 1px solid #016669;
  }
  
  
  #submit-new-form-input {
    width: 100%;
    background: rgb(198, 248, 244);
    border: 1px solid #016669;
    padding: .25rem;
  }
  #add-bookmark-description {
    width:100%
  }
  .new-bookmark-rating {
    width: 100%;
  }
  
  button.new-bookmark-form-input, .bookmark-link, 
      .collapse-bookmark {
    border: 1px solid #00d4db;
  }
  
  .new-bookmark-rating {
    display: inline-block;
    text-align: center;
  }
  
  
  @media screen and (min-width: 50rem) {
    header, main {
      max-width: 90rem;
    }
  
    .bookmark {
      display: flex;
      flex-direction: row;
      justify-content: stretch;
    }
  
    .bookmark h2 {
      text-align: left;
      order: 2;
    }
    .bookmark-item {
      flex-direction: column;
    }
  
    .bookmark-line {
      flex: 1;
      margin-bottom: .125rem;
    }
  
    .expanded .bookmark-line {
      max-width: 8rem;
    }
  
    .bookmark-description {
      margin: 0;
    }
  
    .bookmark-body {
      order: 3;
      flex: 2;
    }
  
    #new-bookmark-form {
      flex-direction: row;
    }
  
  }